@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600&display=swap');

html,
body {
  max-height: 500px;
  width: 400px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Hind Siliguri';
  font-size: 17px;
}
body::-webkit-scrollbar       {
    background-color:white;
    width:13px;
}
body::-webkit-scrollbar-track {
    background-color:white
}
body::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:13px;
    border:4px solid white
}
